<div class="form-container mt-3">
  <h1>Create new user</h1>
  <form method="POST" action="/user">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        name="email"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">User name</label>
      <input
        type="text"
        class="form-control"
        name="username"
        id="username"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="form-table-user mt-3">
  <h2>List user</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% userList.forEach((user,index) => { %>
      <tr>
        <th scope="row"><%- index + 1 %></th>
        <td><%- user.email %></td>
        <td><%- user.username %></td>
        <td>
          <a type="button" class="btn btn-info" href="<%- user.id %>">Edit</a>
          <a type="button" class="btn btn-danger" href="<%- user.id %>"
            >Delete</a
          >
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
